<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Número</title>
</head>
<body>
    <h1>Formulario de Número</h1>
    <form action="/send_email" method="POST">
        <label for="name">Nombre:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="number">Número de personas:</label><br>
        <input type="number" id="number" name="number"><br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
